.image {
	display: block;
	position: relative;
	width: 53.125%;
	height: 74.81%;
	margin: 0 8% 0 auto;
	-webkit-box-shadow: 0 80px 140px -40px rgba(0, 0, 0, 0.6);
	box-shadow: 0 80px 140px -40px rgba(0, 0, 0, 0.6);
}
@media screen and (max-width: 800px) {
	.image {
		margin-right: 40px;
	}
}
@media screen and (max-width: 420px) {
	.image {
		width: 80%;
		height: 55.633%;
		margin: 0 10%;
		top: 9.859%;
	}
}

.cntn {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	transform: scale(1) translateX(0%) translateY(0%);
}
